@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Inter:wght@400;700&display=swap');

:root {
  --main-color: #f6cc1e;
  --secondary-color: #f9bf18;
  --white-color: #ffffff;
  --black-color: #101010;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

button {
  border: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0.875em;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  border: 0.3125em solid transparent;
  border-radius: 1.5em;
  background-color: #fff;
  background-clip: content-box;
}
